body
    { font-family: sans-serif; background: #eee; }
a, h1, h2
    { color: #377ba8; }
h1, h2
    { font-family: 'Georgia', serif; margin: 0; }
h1
    { border-bottom: 2px solid #eee; }
h2
    { font-size: 1.2em; margin-top: .5em; }
h1 a, h2 a
    { text-decoration: none; }
dt
    { font-weight: bold; }

.page
    { margin: 2em auto; width: 85%; border: 5px solid #ccc;
      padding: 0.8em; background: white; }
.entries
    { list-style: none; margin: 0; padding: 0; }
.entries li
    { margin: 0.8em 1.2em; }
.entries li h2
    { margin-left: -1em; }
.forms
    { border-bottom: 1px solid #ccc; margin-top: 1em; overflow: hidden; }
.forms #import
    { float: left; }
.forms #filter
    { float: right; }
.forms #filter input
    {}
form.serials
    { margin-top: 1em; }
form.serials dl
    { overflow: hidden; }
form.serials dt
    { clear: both; }
form.serials dt,
form.serials dd
    { display: block; float: left; }
form.serials dd
    { margin-left: .25em; }
form.serials th
    { text-align: right; }
form.serials input[type=text]
    { font-family: monospace; }
.metanav
    { text-align: right; font-size: 0.8em; padding: 0.3em;
      margin-bottom: 1em; background: #fafafa; }
.message
    { background: #cee5F5; padding: 0.5em; border: 1px solid #aacbe2; }
.error
    { background: #f0d6d6; padding: 0.5em; }
.nowrap
    { white-space: nowrap; }
.left
    { text-align: left; }
.center
    { text-align: center; }
.right
    { text-align: right; }
.mono
    { font-family: monospace; }
.disabled img
    { opacity: .5; -webkit-filter: grayscale(100%); filter: grayscale(100%); }
.disabled a
    { pointer-events: none; cursor: default; }
table.list
    { border-collapse: separate; margin-top: 1em; font-size: .9em;
      empty-cells: hide; width: 100%; }
table.list th, table.list td
    { border: solid 2px #377ba8; vertical-align: middle; }
table.list td a
    { text-decoration: none; color: inherit; }
table.list td a:hover
    { color: Navy; }
table.list td a:active
    { color: MediumSlateBlue; }
table.list td a:not([href]):active
    { color: Navy; }
input[type=file]:hover
    { cursor: pointer; }
