{% extends "layout.html" %}
{% block body %}
  <div class=forms>
  {% if session.logged_in %}
    <form id= import action="{{ url_for('import_xml') }}" method=post
          enctype=multipart/form-data>
      <strong>Arquivo XML:</strong>
      <input type=file name=xml-file>
      <input type=submit value=Importar>
    </form>
  {% endif %}

  {% set s_args = g.search|multijoin(":", " ") %}
    <form id=filter action="{{ url_for('list_serials') }}" method=get>
      <strong>Pesquisa:</strong>
      <input type=text size=30 name=s value="{{ s_args }}">
    </form>
  </div>

  <h2>Números de Série - {{ s_args and '(%s)' % s_args or 'Todos' }}</h2>
  <table class=list>
    <tr><th>Nota Fiscal <th>Data <th>Fornecedor <th>Qnt. <th>Produto
        {{ "<th>"|safe if session.logged_in else '' }}
  {% for serial in serials %}
    <tr><td class="nowrap center">
          <a>{{ serial.document.number }}</a>
        <td class="nowrap center">
          <a>{{ serial.document.date|dateformat }}</a>
        <td>
          <a>{{ serial.document.supplier.name }}</a>
        <td class="center">
          <a>{{ serial.quantity }}</a>
        <td class=nolink>
          <a>{{ serial.product.name }}</a>
    {% if session.logged_in %}
        <td class="nowrap center">
        {% set verb, filename = serial.number and ("ver", "information.png")
                                               or ("inserir", "add.png") %}
          <a href="{{ url_for('update_serials', serial_id=serial.id) }}"
             title="Clique para {{ verb }} os números de séries">
            <img src="{{ url_for('static', filename=filename) }}">
          </a>
    {% endif %}
  {% else %}
    <tr><td class=center colspan=5>Nenhum número de série registrado!
  {% endfor %}
  </table>
{% endblock %}
