{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('import_xml') }}" method=post
          enctype=multipart/form-data class=import>
        <strong>Arquivo XML:</strong>
        <input type=file name=xml-file>
        <input type=submit value=Importar>
      </dl>
    </form>
  {% endif %}
  <table class=list>
    <tr><th>Nota Fiscal <th>Data <th>Fornecedor <th>Qnt. <th>Produto <th>
  {% for serial in serials %}
    <tr><td class="nowrap center">
          <a>{{ serial.document.number }}</a>
        <td class="nowrap center">
          <a>{{ serial.document.date|dateformat }}</a>
        <td>
          <a>{{ serial.document.supplier.name }}</a>
        <td class="center">
          <a>{{ serial.quantity }}</a>
        <td class=nolink>
          <a>{{ serial.product.name }}</a>
        <td class="nowrap center">
        {% set verb, filename = serial.number and ("ver", "information.png")
                                               or ("inserir", "add.png") %}
          <a href="{{ url_for('update_serials', serial_id=serial.id) }}"
             title="Clique para {{ verb }} os números de séries">
            <img src="{{ url_for('static', filename=filename) }}">
          </a>
  {% else %}
    <tr><td class=center colspan=5>Nenhum número de série registrado!
  {% endfor %}
  </table>
{% endblock %}
