{% extends "layout.html" %}
{% block body %}
  <h2>Registro dos números de série</h2>
  <form action="{{ url_for('update_serials', serial_id=serial.id) }}"
        method=post class="serials">
    <dl>
      <dt>Nota Fiscal:
        <dd>{{ serial.document.number }}
      <dt>Data:
        <dd>{{ serial.document.date|dateformat }}
      <dt>Fornecedor:
        <dd>{{ serial.document.supplier.name }}
      <dt>Produto:
        <dd>{{ serial.product.name }}
    </dl>
    <table>
    {% set items = serial.number and serial.number|split(',')
                                  or ['']*serial.quantity %}
    {% for i in range(serial.quantity) %}
      <tr><th>{{ i+1 }}
          <td><input type=text name=serial value="{{ items[i] }}">
    {% endfor %}
      <tr><td><td><input type=submit value=Registrar>
    </table>
  </form>
{% endblock %}
